.bookCard {
  margin: 10px;
  padding: 10px 30px;
  min-width: 290px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
}

.coverWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 200px;
}

.cover {
  display: block;
  background-color: grey;
}
.authors {
  flex-grow: 1;
}
