.resultBlock {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.totalCountWrapper {
  text-align: center;
}

.booksList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
}

.loadMore {
  padding: 10px;
  width: 200px;
  align-self: center;
}
